---
import { getCollection } from "astro:content";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Tag from "@components/Tag.astro";
import getUniqueTags from "@utils/getUniqueTags";
import i18next, { t, changeLanguage } from "i18next";
import { getPostsByLang } from "@utils/getPosts";

changeLanguage("en");

const posts = await getPostsByLang(i18next.language);
let tags = getUniqueTags(posts);
---

<Layout title={t("tags") as string}>
  <Header activeNav="tags" />
  <Main pageTitle={t("tags") as string} pageDesc={t("tagsDesc") as string}>
    <ul>
      {tags.map(({ tag }) => <Tag {tag} size="lg" />)}
    </ul>
  </Main>
  <Footer />
</Layout>
