---
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import { SOCIALS } from "@config";
import { localizePath } from "astro-i18next";
import i18next, { t, changeLanguage } from "i18next";
import { getPostsByLang } from "@utils/getPosts";
import About from "@components/About.md";
import AboutZH from "@components/About.zh.md";

changeLanguage("en");

const posts = await getPostsByLang(i18next.language);
const sortedPosts = getSortedPosts(posts);
// const featuredPosts = posts.filter(({ data }) => data.featured).sort((a, b) => (a.data.pubDatetime > b.data.pubDatetime ? -1 : 1));
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  <Header />
  <main id="main-content">
    <section id="hero">
      <article role="article" class="prose">
        {i18next.language === "zh" ? <AboutZH key="zh" /> : <About key="en" />}
      </article>
      {
        socialCount > 0 && (
          <div class="social-wrapper">
            <div class="social-links">{t("socialLinks")}:</div>
            <Socials />
          </div>
        )
      }
    </section>

    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured">
            <h2>{t("featured")}</h2>
            <ul>
              {featuredPosts.map(({ data, slug }) => (
                <Card
                  href={localizePath(`/posts/${data.permalink || slug}`)}
                  frontmatter={data}
                  secHeading={false}
                  transition:persist
                />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts">
          <h2>{t("recentPosts")}</h2>
          <ul>
            {recentPosts.map(
              ({ data, slug }, index) =>
                index < 5 && (
                  <Card href={localizePath(`/posts/${data.permalink || slug}`)} frontmatter={data} secHeading={false} />
                )
            )}
          </ul>
          <div class="all-posts-btn-wrapper">
            <LinkButton href={localizePath("/posts")}>
              {t("allPosts")}
              <svg xmlns="http://www.w3.org/2000/svg">
                <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
              </svg>
            </LinkButton>
          </div>
        </section>
      )
    }
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  #hero {
    @apply pb-6 pt-8;
  }
  #hero h1 {
    @apply my-4 inline-block text-5xl font-bold sm:my-8 sm:text-5xl;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mb-1 mr-2 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  #featured,
  #recent-posts {
    @apply pb-6 pt-12;
  }
  #featured h2,
  #recent-posts h2 {
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
