---
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import SearchBar from "@components/Search";
import i18next, { t, changeLanguage } from "i18next";
import { getPostsByLang } from "@utils/getPosts";

changeLanguage("en");

// Retrieve all articles
const posts = await getPostsByLang(i18next.language);
// List of items to search in
const searchList = posts.map(({ data, slug }) => ({
    title: data.title,
    description: data.description,
    data,
    slug,
}));
---

<Layout title={t("search") as string}>
  <Header activeNav="search" />
  <Main pageDesc={t("searchDesc") as string}>
    <h1 slot="title">{t("search")}</h1>
    <SearchBar client:load searchList={searchList} />
  </Main>
  <Footer />
</Layout>
