---
import { t } from "i18next";
import { localizePath } from "astro-i18next";
import { type Tag } from "@utils/getUniqueTags";

export interface Props {
  tag?: Tag;
  slug?: string;
  size?: "sm" | "lg";
}

const { tag, slug = tag?.slug, size = "sm" } = Astro.props;
---

<li
  class={`inline-block underline-offset-5 ${size === "sm" ? "my-1" : "my-3 mx-1"}`}
>
  <a
    href={localizePath(`/tags/${slug}`)}
    transition:name={slug}
    class={`${size === "sm" ? "text-sm" : "text-lg"} pr-2 group`}
  >
    #<span>{t(`tags:${slug}`)}</span>
  </a>
</li>

<style>
  a {
    @apply underline decoration-dashed hover:-translate-y-0.5 hover:text-skin-accent focus-visible:p-1;
  }
  a svg {
    @apply -mr-5 h-6 w-6 scale-95 text-skin-base opacity-80 group-hover:fill-skin-accent;
  }
</style>
