---
import Breadcrumbs from "@components/Breadcrumbs.astro";

export type Props = {
  pageDesc?: string;
};

const { props } = Astro;
---

<Breadcrumbs />
<main id="main-content">
  <slot name="title" />
  <!-- <slot name="desc" /> -->
  <p class="mb-6 mt-2">{props.pageDesc}</p>
  <slot />
</main>

<style>
  #main-content {
    @apply mx-auto w-full max-w-5xl px-4 pb-4;
  }
  #main-content :global(> h1:first-of-type) {
    @apply text-2xl font-semibold sm:text-5xl;
  }
</style>
